<div class="row">
  <div class="col-7">
    <div>
    <%= render "company_card", company: @company %>
    </div>

    <div class="align-content-start">
      <h4 class="fw-bold">Terms of Service Summary</h4>
      <p><%= @company.tos_summary %></p>
      <h4 class="fw-bold">Privacy Policy Summary</h4>
      <p><%= @company.privacy_summary %></p>
      <h4 class="fw-bold">Analysis</h4>
      <p><%= @company.tos_analysis %></p>
      <p><%= @company.privacy_analysis %></p>
      <ul>
        <li><strong>Risk Score:</strong> <%= @company.risk_label %></li>
        <li><strong>Privacy Policy:</strong> <%= @company.privacy_url.present? ? link_to(@company.privacy_url, @company.privacy_url, target: "_blank") : "Not available" %></li>
        <li><strong>Terms of Service:</strong> <%= @company.tos_url.present? ? link_to(@company.tos_url, @company.tos_url, target: "_blank") : "Not available" %></li>
      </ul>
    </div>

    <div class="col-7">
      <h4 class="fw-bold">Flagged Clauses</h4>
    </div>
    <div class="col-7">
      <p>They do something with your data</p>
    </div>
    <div class="col-7">
      <p>They do something with your data</p>
    </div>
    <div class="col-7">
      <p>They do something with your data</p>
    </div>
  </div>

  <div class="col-5 mb-5" style="height:90vh">
    <div class="card p-3 h-100 d-flex flex-column gap-3">
      <h4 class="fw-bold">Company Chat</h4>

      <% if @registration %>
        <% @registration.messages.each do |message| %>
          <% if message.role == "user" %>
            <div class="d-flex justify-content-end mb-2">
              <div class="bg-white px-3 pb-0 pt-3 rounded-pill">
              <%= message.content %>
              </div>
            </div>
          <% elsif message.role == "assistant" %>
            <div class="d-flex justify-content-start mb-5">
              <div class="px-3 pb-0 pt-3">
                <%= message.content %>
              </div>
            </div>
          <% end %>
        <% end %>

      <% else %>
      <p class="text-muted small">Start a conversation about this company.</p>
      <% end %>

     <%= simple_form_for [@company, @message] do |f| %>
        <%= f.input :content %>
        <%= f.submit "Ask", class: "btn btn-primary" %>
     <% end %>

  </div>


</div>
