<div class="container">
  <h1>Welcome!</h1>
  <div class="card">
    <p>Overall Risk Profile</p>
    <p>insert rating here</p>
    <p>insert explanation here</p>
    <p>insert status bar here</p>
  </div>
  <div class="card">
    <p>AI Compliance Agent</p>
    <p>Customize how Entrika analyzes your documents. Set specific keywords
      or clause you care about most.</p>
  </div>
  <h2>Recent Analyses</h2>
  <% @sorted_registrations.each do |registration| %>
    <%= render "companies/company_card", company: registration.company, registration: registration %>
  <% end %>
  <h2>View More Analyses</h2>
  <ul class="nav tabs-underlined" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <span class="nav-link tab-underlined active" id="sites-tab" data-bs-toggle="tab" data-bs-target="#sites-tab-pane" role="tab" aria-controls="sites-tab-pane" aria-selected="true">All Sites</span>
    </li>
    <% @statuses.each do |status| %>
      <li class="nav-item" role="presentation">
        <span class="nav-link tab-underlined" id="<%= status %>-tab" data-bs-toggle="tab" data-bs-target="#<%= status %>-tab-pane" role="tab" aria-controls="<%= status %>-tab-pane" aria-selected="false"><%= status.capitalize %> Sites</span>
      </li>
    <% end %>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade py-3 show active" id="sites-tab-pane" role="tabpanel" aria-labelledby="sites-tab" tabindex="0">
      <% @registrations.each do |registration| %>
        <%= render "companies/company_card", company: registration.company, registration: registration %>
      <% end %>
    </div>
    <% @statuses.each do |status| %>
      <div class="tab-pane fade py-3" id="<%= status %>-tab-pane" role="tabpanel" aria-labelledby="<%= status %>-tab" tabindex="0">
        <% @registrations.where(status: status).each do |registration| %>
          <%= render "companies/company_card", company: registration.company, registration: registration %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
