<div class="dashboard-index">
  <header class="dashboard-header">
    <div class="dashboard-header__top">
      <h1 class="dashboard-title">Welcome!</h1>
    </div>
  </header>
  <div class="dashboard-card">
    <h2 class="dashboard-card__title">Overall Risk Assessment</h2>
    <% if current_user.registered_risk_score == "Low Risk" %>
      <h2 class="dashboard-card__low"><%= current_user.registered_risk_score %></h2>
      <span class="dashboard-card__meta">You're engaging in very safe practices online.
        Well done!
      </span>
    <% elsif current_user.registered_risk_score == "Medium Risk" %>
      <h2 class="dashboard-card__medium"><%= current_user.registered_risk_score %></h2>
      <span class="dashboard-card__meta">There's a good balance between safe behavior and risky behavior.
        Review your registered sites to see if there's any high risk
        sites you would like to cancel to improve your score.</span>
    <% elsif current_user.registered_risk_score == "High Risk" %>
      <h2 class="dashboard-card__high"><%= current_user.registered_risk_score %></h2>
      <span class="dashboard-card__meta">There are high risks regarding your data
        and privacy, but your score can be improved. Review your sites and see what
        changes can be made for better safety.</span>
    <% end %>
    <%# <p>insert status bar here</p> %>
  </div>
  <%# <div class="card">
    <p>AI Compliance Agent</p>
    <p>Customize how Entrika analyzes your documents. Set specific keywords
      or clause you care about most.</p>
  </div> %>
  <header class="dashboard-header">
    <div class="dashboard-header__top">
      <h2 class="dashboard-title">Recent Analyses</h2>
      <%= link_to "View All Analyses", sitesanalyzed_path, class: "dashboard-link" %>
    </div>
  </header>
  <% @sorted_registrations.each do |registration| %>
    <%= render "companies/company_card", company: registration.company, registration: registration %>
  <% end %>
  <%= link_to "View More", sitesanalyzed_path, class: "dashboard-link" %>
</div>
