<div class="dashboard-index">
  <header class="dashboard-header">
    <div class="dashboard-header__top">
      <h1 class="dashboard-title">Dashboard - Overview</h1>
    </div>
  </header>
  <div id="dashboard-risk-summary">
    <%= render "pages/risk_summary" %>
  </div>
  <%# <div class="card">
    <p>AI Compliance Agent</p>
    <p>Customize how Entrika analyzes your documents. Set specific keywords
      or clause you care about most.</p>
  </div> %>
  <header class="dashboard-header">
    <div class="dashboard-header__top">
      <h2 class="dashboard-title">High Risk Signed Up Sites</h2>
    </div>
  </header>
  <div class="high-risk-container">
    <% if @high_risk_registrations.any? %>
      <% @high_risk_registrations.each do |registration| %>
        <div class="dashboard-registrations-container p-2">
          <%= render "companies/company_card", company: registration.company, registration: registration %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No high risk signed-up sites. Great!</p>
  <% end %>
</header>
<header class="dashboard-header">
  <div class="dashboard-header__top">
    <h2 class="dashboard-title">Recent Analyses</h2>
    <%= link_to "View All Analyses", sitesanalyzed_path, class: "dashboard-link" %>
  </div>
</header>
<div class="registrations-container">
  <% @sorted_registrations.each do |registration| %>
    <div class="dashboard-registrations-container">
      <%= render "companies/company_card", company: registration.company, registration: registration %>
    </div>
  <% end %>
</div>
<%# <%= link_to "View More", sitesanalyzed_path, class: "dashboard-link" %>
</div>
